


<div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">


	            <div class="content">


<div class="container push-top-bottom">
	<div class="box center" >
    <fieldset>
				<legend class="center"><h1>Регистрация</h1></legend>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="col-sm-12">
    <div class="form-group">
      <label>Фото</label><br>
      <%= f.file_field :foto %>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="form-group">
    <label>Имя</label>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    </div>
    <div class="col-sm-4">
    <div class="form-group">
      <label>Фамилия</label>
      <%= f.text_field :surname, class: "form-control" %>
    </div>
    </div>
      <div class="col-sm-4">
  <div class="form-group">
    <label>Отчество</label>
    <%= f.text_field :father_name, class: "form-control" %>
  </div>
  </div>
    <div class="col-sm-6">
    <div class="form-group">
      <label>Телефон</label>
      <%= f.number_field :tel, class: "form-control" %>
    </div>
    </div>
    <div class="col-sm-6">
  <div class="form-group">
  <label>Почта</label>
    <%= f.email_field :email, autofocus: true,class: "form-control" %>
  </div>
  </div>
<div class="col-sm-6">
  <div class="form-group">
  <label>Пароль</label>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> символов минимум)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off",class: "form-control" %>
  </div>
  </div>
<div class="col-sm-6">
  <div class="form-group">
  <label>Повторите Пароль</label>
    <%= f.password_field :password_confirmation, autocomplete: "off",class: "form-control" %>
  </div>
  </div>

  <div class="actions">
  <%= f.submit "Зарегистрироваться", class:"btn btn-primary btn-large" %>
  </div>
<% end %>
</fieldset>
<%= render "devise/shared/links" %>
</div><!-- /.box -->


</div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
  </div><!-- /.main-wrapper -->
