<fieldset>
	<%= f.label :text, "Ответ" %>
	<%= f.text_field :text, class:"form-control" %>
	<p>
	<%= f.hidden_field :_destroy %>
	
	<%= link_to "Удалить ответ", '#', class: "remove_fields" %>
	</p>
</fieldset>

