
<%= form_for(@petition) do |f| %>
<% if @petition.errors.any? %>
<div id="error_explanation">
 <h2><%= pluralize(@petition.errors.count, "error") %> prohibited this petition from being saved:</h2>

 <ul>
   <% @petition.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
</div>
<% end %>
<fieldset>
 <legend>Данные</legend>

 <div class="form-group">
   <label>Изображение для публикации</label>
   <div>
    <%= image_tag @petition.foto.url(:thumb) %>
  </div>
  <br>

  <%= f.file_field :foto, id: "pictureInput" %> 
  <div id="target">
   предпросмотр изображения
 </div>
 <script>
   $(function() {
    $('#pictureInput').on('change', function(event) {
      var files = event.target.files;
      var image = files[0]
      var reader = new FileReader();
      reader.onload = function(file) {
        var img = new Image();
        console.log(file);
        img.src = file.target.result;
        img.width = 200
        img.height =100
        $('#target').html(img);
      }
      reader.readAsDataURL(image);
      console.log(files);
    });
  });
</script>
</div><!-- /.form-group -->
<div class="form-group">
 <label>Выберите категорию</label><br>

 <%#= f.collection_radio_buttons :category_id, Category.all, :id, :name , required: true %>
  <% Category.all.each do |category| %>
  <div>
    <%= f.radio_button :category_id, category.id %>
    <%= f.label :category_id, category.name %>
    </div>
  <% end %>


</div><!-- /.form-group -->

<div class="form-group">
 <label>Название</label>
 <%= f.text_field :name, class:"form-control", required: true, pattern: "^[A-Za-zа-яёА-ЯЁ0-9\s\-]+$",
 oninvalid: "setCustomValidity('Спец. символы запрещены, используйте только буквы')",
 oninput:"setCustomValidity('')" 
 %>
</div><!-- /.form-group -->
<div class="form-group">
 <label>Кому</label>
 <%= f.text_field :from, class:"form-control", required: true, placeholder: "Кому адресована публикация" %>
</div><!-- /.form-group -->

<div class="form-group">
 <label>Описание</label>
 <%= f.text_area :text, class:"form-control", required: true, rows:"6", id: "ckeditor"  %>
 <script>
  $('#ckeditor').ckeditor({
  });
</script>
</div><!-- /.form-group -->
<div class="form-group">
  <h5>Если вы желаете создать опрос добавьте вопрос и к нему варианты ответа:</h5>
  <%= f.fields_for :questions do |builder| %>
   <%= render "question_fields", f: builder %>
   <% end %>
   <!-- </div> -->
   <p><%= link_to_add_fields 'Добавить вопрос', f, :questions %></p>
</div>

</fieldset>



<div class="center">
  <%= f.submit "Сохранить", class:"btn btn-primary btn-large" %>
</div><!-- /.center -->
</form>
<% end %>
