<!-- <div class="col-md-10"> -->
<fieldset >

	<%= f.label :text, "Вопрос" %>
	<%= f.text_field :text, class:"form-control" %>
	
	<%= f.label :status, "Много ответов" %>

	<%= f.check_box :status, {}, 'true', 'false' %>
	<%= f.label :active, "Свой ответ" %>
	<%= f.check_box :active, {}, 'true', 'false' %>
	<p>
	<%= f.hidden_field :_destroy %>
	<%= link_to "Удалить Вопрос", '#', class: "remove_fields" %>
	</p>
<!-- </div> -->
	<!-- <div class="container"> -->
<%= f.fields_for :answers do |builder| %>
<%= render 'answer_fields', :f => builder %>
<% end %>

<!-- <br> -->
<%= link_to_add_fields "Добавить ответ", f, :answers %>
	<!-- </div> --></fieldset>
