
<%= form_for Response.new do |f| %>
<fieldset>
	<%= hidden_field_tag "response[petition_id]", petition.id %>
<%#= f.fields_for :response_questions do |builder|  %>
<% petition.questions.each_with_index do |question, index| %>
		<%= hidden_field_tag "response[response_questions_attributes][#{index}][question_id]", question.id %>
		<%= question.text %>
		<fieldset>
		<% question.answers.each do |answer| %>

		<p>
		<% if question.status == true %>
			<%= check_box_tag "response[response_questions_attributes][#{index}][answer_ids][]", answer.id %>

			<%else%>
			<%= radio_button_tag "response[response_questions_attributes][#{index}][answer_ids][]", answer.id %>
		<% end -%>
		<%= answer.text %>
		
		</p>
		<% end -%>
		<% if question.active == true %>
		Свой ответ:
		<%#= check_box_tag :status %>
			<%= text_area_tag "response[response_questions_attributes][#{index}][text]" %>
		<% end %>
		</fieldset>

<% end -%>
<%# end -%>
</fieldset>
<% if user_signed_in?  %>
<%= f.submit "Сохранить" , class:"btn btn-primary btn-large" %>
<% else %>
<%= link_to "Сохранить", new_user_session_path, class:"btn btn-primary btn-large"  %>
<% end -%>
<% end -%>