<fieldset>
	Проголосовало:
	<%= petition.responses.count %>
	<% petition.questions.each do |question| %>
	<fieldset>
		<%= question.text %>
		<br>

		<% question.answers.each do |answer| %>
		<fieldset>
			<%= answer.text %>
			<br>
			<progress value="<%= answer.response_questions.count %>" max="<%= User.where.not(role_id: 1).count %>"></progress>
			
			
			<p>
			<%= "Голосов:#{answer.response_questions.count}" %>
			</p>

			<% answer.response_questions.each do |r| %>
				<% if current_user.admin? %>
				<%= link_to r.response.user.email, edit_user_path(r.response.user) %>
				<% end %>
			<% end %>
		</fieldset>
		<% end %>
		
		<% if current_user.admin?   %>
	
		<%= "Ответы:" if question.active == true %>
			<% ResponseQuestion.where(question_id: question.id).each do |q|  %>
			<p>
<a  data-toggle="collapse" href="#collapse<%= q.id %>" aria-expanded="false" aria-controls="collapse">
    <%= q.response.user.name unless q.text.blank? %>
  <%= q.response.user.surname unless q.text.blank? %>
</a>
<div class="collapse" id="collapse<%=q.id%>">
  <!-- <div class="well"> -->
    <%= q.text unless q.text.blank?%>
  <!-- </div> -->
</div>
			
				</p>
			<% end %>
		
		<% elsif petition.user == current_user %>
			<%= "Ответы:" if question.active == true %>
			<% ResponseQuestion.where(question_id: question.id).each do |q|  %>
			<p>

    <%= q.text unless q.text.blank?%>
			
				</p>
			<% end %>

		<% else %>
				<p>
			<%= "Мой Ответ: #{ResponseQuestion.find_by(question_id: question.id, response_id: Response.find_by(user: current_user, petition_id: petition.id).id ).text}" unless ResponseQuestion.find_by(question_id: question.id, response_id: Response.find_by(user_id: current_user.id, petition_id: petition.id).id ).text.blank? %>
			</p>
		<% end %>
		
	</fieldset>
	<%#= response.user.email %>

	<% end %>


</fieldset>