<div class="widget">
                <h2 class="widgettitle">Последние публикации</h2>

                <div class="cards-small-wrapper">
                  <% Petition.where(status: 2).last(4).reverse_each do |p| %>
                  <div class="card-small">
                    <div class="card-small-image">
                      <a href="<%= category_petitions_path(p.category, p) %>" style="background-image: url('<%= image_path p.foto.url %>');"></a>
                    </div><!-- /.card-small-image -->

                    <div class="card-small-content">
                      <h3><a href="<%= category_petitions_path(p.category, p) %>"><%= truncate(p.name, length: 20) %></a></h3>
                      <h4><a href="<%= category_path(p.category) %>"><%= p.category.name %></a></h4>
                    </div><!-- /.card-small-content -->
                  </div><!-- /.card-small -->
                  <% end %>

                </div><!-- /.cards-small-wrapper -->
              </div><!-- /.widget -->