<div class="main-wrapper">
 <div class="main">
   <div class="main-inner">


     <div class="content">
       <div class="content-title">
         <div class="container">
           <h1><%= @petition.name %></h1>

           <ul class="breadcrumb">
             <li>  <%= render_breadcrumbs :separator => '<i class="md-icon">keyboard_arrow_right</i>' %></li>




           </ul><!-- /.breadcrumb -->
         </div><!-- /.container -->
       </div><!-- /.content-title -->



       <div class="container">
         <div class="row">
           <div class="col-md-8 col-lg-9">
             <div class="push-top-bottom">
               <div class="listing-detail">

                 <div class="gallery-item" style="background-image: url('<%= image_path @petition.foto.url %>');">

                 </div><!-- /.gallery-item -->



                 <!-- <h2><%#= @petition.name %></h2> -->
                 <br>
                 <p>
                  <%= @petition.text.html_safe %>
                </p>
                <p>
                  Кому:<%= @petition.from %>
                </p>





                <h2>Поделиться:</h2>

                <div class="social-share-buttons">
                  <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
                  <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
                  <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,pocket,tumblr,viber,whatsapp" data-title="<%= @petition.name %>" data-description="<%= @petition.text %>" data-image="<%= image_url(@petition.foto) %>"></div>
                </div>





              </div><!-- /.listing-detail -->
            </div><!-- /.push-top-bottom -->
          </div><!-- /.col-sm-9 -->

          <div class="col-md-4 col-lg-3">
           <div class="sidebar">

            <div class="widget">
              <h2 class="widgettitle">Всего Голосов <%= @petition.vote.users.count %></h2>


              <div class="overview" id="vote">

               <% if @petition.vote.users.include?(current_user)  %>
               <button type="submit" class="btn btn-primary btn-block btn-large" disabled="disabled">Проголосовано</button>
               <% else %>
               <% if user_signed_in? %>
               <%= link_to 'Проголосовать', { controller: :petitions, action: :vote }, { method: :put , class: "btn btn-primary btn-block btn-large"} if @petition.user != current_user %>

               <% else %>
               <%= link_to 'Проголосовать', new_user_session_path , class:"btn btn-primary btn-block btn-large" %>

               <% end %>
               <% end %>

             </div><!-- /.overview -->

           </div><!-- /.widget -->
           <%= render 'petitions/widget' %>
           <%= render 'categories/widget' %>


         </div><!-- /.sidebar -->
       </div><!-- /.col-* -->
     </div><!-- /.row -->
   </div><!-- /.container-->
 </div><!-- /.content -->
</div><!-- /.main-inner -->
</div><!-- /.main -->
</div><!-- /.main-wrapper -->
