<div class="container-fluid">
<div class="admin-title">
	<h1>Публикации</h1>
<ul class="breadcrumb">

</ul>
</div>
</div>


<div class="admin-box no-padding">
	<table class="table small-header">
		<thead>
			<tr>
				<th class="min-width">Фото</th>
				<th>Название</th>
				<th>Категория</th>
				<th>Автор</th>
				<th>Статус</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
      <% @petitions.reverse_each do |p| %>
				<tr>

					<td class="min-width"><%= image_tag p.foto.url(:thumb) , class: "backend-table-thumb "%></td>
					<td><%= p.name.truncate(30) %></td>
					<td><%= p.category.name %></td>
					<td><%= p.user.name %> <%= p.user.surname %></td>
						<td><%= p.status.name %>

						<% if current_user.role_id == 1 or current_user.role_id == 3 %>
							
							<%= form_for p do |form| %>
								<%= form.check_box :status_id , {onchange: "this.form.submit()"}, 2 , 1 %>

							<% end -%>
							<%# if p.status_id == 1 %>
							<%#= link_to st_petition_path(p), { method: :put, id: 'push' }  do  %>
							<!-- <i class="md-icon">check</i> -->
							<%# end %>
							<%# end %>



							<% end %>

						</td>
					<td>
						</td>
						<td>
            <%= link_to category_petitions_path(p.category, p) do %>
            <i class="md-icon">remove_red_eye</i>
            <% end %>
				
				<% if current_user.role_id != 3 %>
				<% if p.vote.users.count == 0 and p.responses.count == 0 %>
            <%= link_to edit_petition_path(p) do %>
            <i class="md-icon">edit</i>
            <% end %>
            <% end %>

						<%= link_to p, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="md-icon">delete</i>
            <% end %>
            <% end %>



					</td>
				</tr>
        <% end %>
      </tbody>
</table>

</div><!-- /.admin-box -->

<nav class="pagination-wrapper">

	<%= paginate @petitions %>

</nav>
