<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="col-sm-12">
  <div class="form-group">
    <label>Фото</label><br>
    <%= f.file_field :foto %><%= image_tag @user.foto.url(:thumb)  %>
  </div>
  </div>
  <div class="col-sm-4">
  <div class="form-group">
  <label>Имя</label>
    <%= f.text_field :name,required: true, class: "form-control" %>
  </div>
  </div>
  <div class="col-sm-4">
  <div class="form-group">
    <label>Фамилия</label>
    <%= f.text_field :surname,required: true, class: "form-control" %>
  </div>
  </div>
  <div class="col-sm-4">
  <div class="form-group">
    <label>Отчество</label>
    <%= f.text_field :father_name,required: true, class: "form-control" %>
  </div>
  </div>
  <div class="col-sm-6">
  <div class="form-group">
    <label>Телефон</label>
    <%= f.number_field :tel, class: "form-control" %>
  </div>
  </div>
  <div class="col-sm-6">
  <div class="form-group">
  <label>Почта</label>
  <%= f.email_field :email , class: "form-control"%>
</div>
</div>
<div class="col-sm-4">
<div class="form-group">
  <label>Пароль</label>
  <%= f.password_field :password, placeholder: "Оставьте пустым  ", class: "form-control" %>
</div>
</div>

<% if current_user.role_id ==1  %>
<div class="col-sm-12">
  <div class="form-group">
    <label>Роль</label><br>
    <%= collection_select(:user, :role_id, Role.all, :id, :name, {prompt: true},class: "form-control") %>
  </div>

  <% end %>
  <div class="col-sm-12">
  <div class="center">
    <%= f.submit "Сохранить", class:"btn btn-primary btn-large" %>
  </div>
  </div>
<% end %>
