<div class="admin-content">
			<div class="container-fluid">
				<div class="admin-title">
          <% if current_user.role_id == 1 %>

	<h1>Редактирование</h1>
  <% else %>

	<h1>Мой Профиль</h1>
<% end %>
	<ul class="breadcrumb">
			<%= render_breadcrumbs :separator => '<i class="md-icon">keyboard_arrow_right</i>' %>

	</ul><!-- /.breadcrumb -->
</div><!-- /.admin-title -->

<div class="admin-box">
	<fieldset>
		<legend>Персональная Информация</legend>

		<div class="row">
<%= render 'form' %>
</div><!-- /.row -->
</fieldset>




</div><!-- /.admin-box -->
  </div><!-- /.container-fluid -->
</div><!-- /.admin-content -->
