<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">


      <div class="content">


        <div class="container push-top-bottom">
          <div class="box center" >
            <fieldset>
              <legend class="center"><h1>Восстановление пароля</h1></legend>
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
              <%= f.hidden_field :reset_password_token %>


              <div class="form-group">
                <%= f.label :password, "Новый Пароль" %><br />
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> символов минимум)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true,class: "form-control", autocomplete: "off" %>
              </div>

              <div class="form-group">
                <%= f.label :password_confirmation, "Повторите Новый Пароль" %><br />
                <%= f.password_field :password_confirmation,class: "form-control", autocomplete: "off" %>
              </div>

              <div class="actions">
              <%= f.submit "Сохранить",class:"btn btn-primary btn-large" %>
              </div>
              <% end %>
            </fieldset>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>