<div class="main-wrapper">
	<div class="main">
		<div class="main-inner">


			<div class="content">


				<div class="container push-top-bottom">
					<div class="box center" >
						<fieldset>
							<legend class="center"><h1>Забыли пароль?</h1></legend>

							<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
							<%= devise_error_messages! %>

							<div class="form-group">
								<label>Почта</label><br>
								<%= f.email_field :email, class: "form-control ",  autofocus: true %>
							</div>


							<div class="actions">
								<%= f.submit "Отправить заявку восстановления пароля", class:"btn btn-primary btn-large" %>
							</div>
							<% end %>
						</fieldset>
						<%= render "devise/shared/links" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>