<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">

      <div class="content-title">
        <div class="container">
          <h1>О проекте</h1>
          <div class="social-share-about">
            <script type="text/javascript" src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js" charset="utf-8"></script>
            <script type="text/javascript" src="//yastatic.net/share2/share.js" charset="utf-8"></script>
            <div class="ya-share2" data-services="vkontakte,facebook,odnoklassniki,moimir,gplus,twitter,lj,pocket,tumblr,viber,whatsapp" data-title="О проекте" data-description="<%= simple_format(About.last.text) %>"></div>
          </div>
          <ul class="breadcrumb">
            <li><a href="/">Главная</a> <i class="md-icon">keyboard_arrow_right</i></li>


            <li class="active">О проекте</li>

          </ul><!-- /.breadcrumb -->
        </div><!-- /.container -->
      </div><!-- /.content-title -->


      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-9">
            <div class="content">
              <div class="container push-top-bottom">
                <div class="post-detail">
                  <%= About.last.text.html_safe %>

                  <div class="">
                    <form method="post" action="">
                      <div class="row">
                        <div class="col-sm-4">
                        </div><!-- /.col-* -->

                        <div class="col-sm-4">
                        </div><!-- /.col-* -->
                      </div><!-- /.row -->

                    </form>
                  </div><!-- /.comment-create -->
                </div><!-- /.post-detail -->
              </div><!-- /.container -->
            </div><!-- /.content -->
          </div><!-- /.col-* -->

          <div class="col-md-4 col-lg-3">
            <div class="sidebar">
            <%= render 'petitions/widget' %>


              <div class="widget">
                <h2 class="widgettitle">Навигация</h2>

                <ul class="menu nav nav-stacked">
                  <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                  </li>

                  <li class="nav-item">
                    <a href="/categories" class="nav-link">Категории</a>
                  </li>

                  <li class="nav-item">
                    <a href="/contact" class="nav-link">Контакты</a>
                  </li>

                  <li class="nav-item">
                    <a href="/about" class="nav-link">О проекте</a>
                  </li>
                </ul><!-- /.nav -->
              </div><!-- /.widget -->
            </div><!-- /.sidebar -->
          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.main-inner -->
  </div><!-- /.main -->
</div><!-- /.main-wrapper -->
