<div class="main-wrapper">
  <div class="main">
    <div class="main-inner">

      <div class="content-title">
        <div class="container">
          <h1>Контакты</h1>

          <ul class="breadcrumb">
            <li><a href="/">Главная</a> <i class="md-icon">keyboard_arrow_right</i></li>


            <li class="active">Контакты</li>

          </ul><!-- /.breadcrumb -->
        </div><!-- /.container -->
      </div><!-- /.content-title -->


      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-9">
            <div class="content">
              <div class="container push-top-bottom">
                <div class="post-detail">
                  <%= Contact.last.text.html_safe %>

                  <h2>Связаться с нами!</h2>

                  <div class="comment-create clearfix">
                    <%= form_for(Form.new) do |f| %>
                    <div class="form-group">
                      <label>Сообщение</label>
                      <%= f.text_area :text,required: true, class: "form-control", rows: "5" %>

                    </div><!-- /.form-group -->

                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Ваше имя</label>
                          <%= f.text_field :name,required: true, class: "form-control" %>

                        </div><!-- /.form-group -->
                      </div><!-- /.col-* -->

                      <div class="col-sm-4">
                        <div class="form-group">
                          <label>Почта</label>
                          <%= f.email_field :email,required: true, class: "form-control", autofocus: true %>

                        </div><!-- /.form-group -->
                      </div><!-- /.col-* -->
                    </div><!-- /.row -->

                    <div class="form-group-btn">
                      <%= f.submit "Отправить", class:"btn btn-primary btn-large pull-right" %>

                    </div><!-- /.form-group-btn -->
                    <%end%>
                  </div><!-- /.comment-create -->
                </div><!-- /.post-detail -->
              </div><!-- /.container -->
            </div><!-- /.content -->
          </div><!-- /.col-* -->

          <div class="col-md-4 col-lg-3">
            <div class="sidebar">
             <%= render 'petitions/widget' %>


              <div class="widget">
                <h2 class="widgettitle">Навигация</h2>

                <ul class="menu nav nav-stacked">
                  <li class="nav-item">
                    <a href="/" class="nav-link">Главная</a>
                  </li>

                  <li class="nav-item">
                    <a href="/categories" class="nav-link">Категории</a>
                  </li>

                  <li class="nav-item">
                    <a href="/contact" class="nav-link">Контакты</a>
                  </li>

                  <li class="nav-item">
                    <a href="/about" class="nav-link">О проекте</a>
                  </li>
                </ul><!-- /.nav -->
              </div><!-- /.widget -->
            </div><!-- /.sidebar -->
          </div><!-- /.col-* -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.main-inner -->
  </div><!-- /.main -->
</div><!-- /.main-wrapper -->
