<div class="main-wrapper">
  <div class="main">
      <div class="main-inner">


          <div class="content">
              <div class="hero" style="background-image: url('<%= image_path('img/tmp/cover-min.png'); %> ">
<div class="hero-content">
<div class="container">
  <h1>Платформа для содействия в реализации гражданами своих прав</h1>

  <p>
  Гражданское общество обретает силу в сплочённости. Поддержите проект, сообщите о нём своим знакомым. Вместе мы сделаем больше, чем каждый по отдельности!

  </p>

  <a href="/about" class="btn btn-primary">Распространить</a>
</div><!-- /.container -->
</div><!-- /.hero-content -->


<div class="hero-form ">
<div class="container">

  <%= form_tag search_path, :method => 'get' do %>
  <p>
    <div class="input-group col-sm-12 col-md-10">
      <div class="input-group-addon">
        <i class="md-icon">search</i>
      </div><!-- /.input-group-addon -->
    <%= text_field_tag :search, params[:search], type:"text", class:"form-control", placeholder:"Поиск..." %>
    </div>
    <div class="form-group last col-sm-12 col-md-2">
    <%= submit_tag "Поиск", :name => nil, class:"btn btn-primary btn-block" %>
    </div><!-- /.col-* -->
  </p>
<% end %>



</div><!-- /.container -->
</div><!-- /.hero-form -->

<div class="hero-layer"></div>
</div><!-- /.hero -->

<div class="container">
<div class="page-title">
<h2>Последние публикации</h2>

</div><!-- /.page-title -->

<div class="row">
<div class="col-sm-12 col-xl-10">
  <div class="cards-wrapper">
    <div class="row">
      <% Petition.where(status: 2).last(6).reverse_each do |p|  %>
        <div class="col-sm-6 col-md-4">
          <div class="card">
<div class="card-image" style="background-image: url('<%= image_path p.foto.url %>');">
<a href="<%= petition_path(p) %>"></a>


</div><!-- /.card-image -->

<div class="card-content">
<h3><a href="<%= category_path(p.category) %>"><%= p.category.name %></a></h3>
<h2><a href="<%= petition_path(p) %>"><%= p.name %></a></h2>
</div><!-- /.card-content -->

<div class="card-actions">
<% if user_signed_in? %>
<%= link_to add_petition_path(p), { method: :put , class: "card-action-icon", id: "like",remote: true} do %>
<i class="md-icon">favorite</i>
<%end%>
<%= p.like.users.count %>
<% else %>
<a href="<%= new_user_session_path %>" class="card-action-icon"><i class="md-icon">favorite</i></a><%= p.like.users.count %>
<%end%>
<a href="<%= petition_path(p) %>" class="card-action-btn btn btn-transparent">Далее</a>
</div><!-- /.card-actions -->
</div><!-- /.card -->
        </div><!-- /.col-* -->
<% end %>


    </div><!-- /.row -->
  </div><!-- /.card-wrapper -->
</div><!-- /.col-* -->

<div class="col-sm-2 hidden-lg-down">
  <div class="your-space">
    <p>
      <%= Ad.last.text.html_safe %>
    </p>

   
  </div><!-- /.your-space -->
</div><!-- /.col-* -->
</div><!-- /.row -->
</div><!-- /.container -->

<div class="container">
<div class="page-title">
<h2>Категории</h2>
</div><!-- /.page-title -->

<div class="cards-wrapper">
<div class="row">
  <% Category.all.each do |c| %>
    <div class="col-xs-12 col-sm-6 col-lg-3">
      <div class="card">
        <div class="card-image small no-line" style="background-image: url('<%= image_path c.foto.url %>');">
          <a href="<%= category_path(c) %>"></a>


          <div class="card-image-count">
          
            <strong><%=  c.petitions.where(status: 2).count  %></strong>
          
            <span>публикаций</span>
          </div><!-- /.card-image-count -->
        </div><!-- /.card-image -->

        <div class="card-content">
          <h2>
            <a href="<%= category_path(c) %>"><%= c.name %></a>

            <a href="<%= category_path(c) %>" class="btn btn-transparent">Далее</a>
          </h2>
        </div><!-- /.card-content -->
      </div><!-- /.card -->
    </div><!-- /.col-* -->
    <% end %>

</div><!-- /.row -->
</div><!-- /.cards-wrapper -->
</div><!-- /.container -->


<div class="cta">
<div class="container">
<h2>Проект «Власть Народа»</h2>

<p>запущен с целью предоставления сознательной части российского общества реального и легитимного инструмента взаимодействия с представителями местной, региональной и федеральной власти. Для консолидации гражданского общества, для взаимовыручки.</p>
<p>Мы верим, что совместными усилиями можно решить многие проблемы!</p>
<a href="/about" class="btn btn-primary">Далее</a>
</div><!-- /.container -->
</div><!-- /.cta -->

          </div><!-- /.content -->
      </div><!-- /.main-inner -->
  </div><!-- /.main -->
</div><!-- /.main-wrapper -->
