<div class="container-fluid">
<div class="admin-title">
	<h1>Модераторы</h1>
<ul class="breadcrumb">
	<%= render_breadcrumbs :separator => '<i class="md-icon">keyboard_arrow_right</i>' %>
</ul>
</div>
</div>


<div class="admin-box no-padding">
	<table class="table small-header" id="table" >
		<thead>
			<tr>
				<th>Фото</th>
				<th>Роль</th>
				<th>Имя</th>
				<th>Фамилия</th>
				<th>Почта</th>
				<th>Телефон</th>
				<th>Дата Регистрации</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
        <% @users.reverse_each do |u| %>
				<tr>
					<td class="min-width">
						<div class="user-avatar">
							<%= image_tag u.foto.url  %>
						</div><!-- /.user-avatar -->
					</td>
					<td><%= u.role.name.first %></td>
					<td><%= u.name %></td>
					<td><%= u.father_name %></td>
					<td><%= u.email %></td>
					<td><%= u.tel %></td>
					<td><%= u.created_at.to_date %></td>

					<td class="min-width">
            <%= link_to  edit_user_path(u) do %>
            <i class="md-icon">edit</i>
            <% end %>
            <%= link_to  u, method: :delete, data: { confirm: 'Are you sure?' }   do %>
            <i class="md-icon">delete</i>
            <% end %>

					</td>
				</tr>
<% end %>

		</tbody>
	</table><!-- /.table -->
<nav class="pagination-wrapper">

	<%= paginate @users %>

</nav>
</div><!-- /.admin-box -->
