<div class="container-fluid">
<div class="admin-title">
	<h1>Категории</h1>
<ul class="breadcrumb">

</ul>
</div>
</div>


<div class="admin-box no-padding">
	<table class="table small-header">
		<thead>
			<tr>
				<th class="min-width">Фото</th>
				<th>Название</th>
			
				<th></th>
			</tr>
		</thead>

		<tbody>
      <% @categories.reverse_each do |p| %>
				<tr>

					<td class="min-width"><%= image_tag p.foto.url(:thumb) , class: "backend-table-thumb "%></td>
					<td><%= p.name %></td>
					
						</td>
						<td>
            <%= link_to p do %>
            <i class="md-icon">remove_red_eye</i>
            <% end %>


            <%= link_to edit_category_path(p) do %>
            <i class="md-icon">edit</i>
            <% end %>
						<%= link_to p, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="md-icon">delete</i>
            <% end %>



					</td>
				</tr>
        <% end %>
      </tbody>
</table>

</div><!-- /.admin-box -->

<nav class="pagination-wrapper">

	<%= paginate @categories %>

</nav>
