
<div class="main-wrapper">
	<div class="main">
		<div class="main-inner">

			<div class="content-title">
				<div class="container">
					<h1>Поиск</h1>



					<ul class="breadcrumb">
						<li><%= render_breadcrumbs :separator => '<i class="md-icon">keyboard_arrow_right</i>' %></li>




					</ul><!-- /.breadcrumb -->
				</div><!-- /.container -->
			</div><!-- /.content-title -->


			<div class="container">
				<div class="row">
					<div class="col-md-8 col-lg-9">
						<div class="content">
							<div class="container push-top-bottom">
								<div class="posts">

									<% @petitions.each do |p| %>
									<div class="post">
										<div class="post-date">
											<strong><%= p.created_at.day %></strong>
											<span><%= l(p.created_at, format: '%b') %></span>
										</div>

										<div class="post-image">
											<a href="<%= category_petitions_path(p.category, p) %>" class="post-image-link" style="background-image: url('<%= image_path p.foto.url %>');"></a>

											<div class="post-author">
												<span class="post-author-image">
													<a href="#" style="background-image: url('<%= p.user.foto.url %>');"></a>
												</span><!-- /.post-author-image -->

												<a href="<%= category_petitions_path(p.category, p) %>">
													<span class="post-author-name"><%= p.user.name %></span>
												</a>
											</div><!-- /.post-author -->
										</div><!-- /.post-image -->

										<div class="post-title">
											<h2><a href="<%= category_petitions_path(p.category, p) %>"><%= p.name %></a></h2>
										</div><!-- /.post-title -->



										<div class="post-content">
											<p>
												<%= truncate(p.text, length: 1000, escape: false) %>
											</p>
										</div><!-- /.post-content -->

										<div class="post-read-more">
											<a href="<%= category_petitions_path(p.category, p) %>">Подробней <i class="fa fa-chevron-right"></i></a>
										</div><!-- /.post-read-more -->
									</div><!-- /.post-->
									<% end %>

								</div><!-- /.posts-->
								<nav class="pagination-wrapper">

									<%= paginate @petitions %>

								</nav>

							</div><!-- /.container -->
						</div><!-- /.content -->
					</div><!-- /.col-* -->

					<div class="col-md-4 col-lg-3">
						<div class="sidebar">
							<%= render 'petitions/widget' %>
							<%= render 'categories/widget' %>
						</div><!-- /.sidebar -->
					</div><!-- /.col-* -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.main-inner -->
	</div><!-- /.main -->
</div><!-- /.main-wrapper -->
