<div class="container-fluid">
<div class="admin-title">
	<h1>Петиции</h1>
<ul class="breadcrumb">

</ul>
</div>
</div>


<div class="admin-box no-padding">
	<table class="table small-header">
		<thead>
			<tr>
				<th class="min-width">Фото</th>
				<th>Название</th>
				<th>Категория</th>
				<th>Автор</th>
				<th>Статус</th>
				<th></th>
				<th></th>
			</tr>
		</thead>

		<tbody>
      <% @petitions.each do |p| %>
				<tr>

					<td class="min-width"><%= image_tag p.foto.url(:thumb) , class: "backend-table-thumb "%></td>
					<td><%= p.name %></td>
					<td><%= p.category.name %></td>
					<td><%= p.user.name %> <%= p.user.surname %></td>
						<td><%= p.status.name %>

							<% if p.status_id == 1 %>
							<%= link_to 'опубликовать', st_petition_path(p), { method: :put, id: 'push' } if current_user.role_id == 1 %>
							<% end %></td>
					<td>
						</td>
						<td>
            <%= link_to p, class: 'btn btn-red' do %>
            <i class="md-icon">remove_red_eye</i> Просмотреть
            <% end %>



					</td>
				</tr>
        <% end %>
      </tbody>
</table>

</div><!-- /.admin-box -->

<nav class="pagination-wrapper">

	<%= paginate @petitions %>

</nav>
