<%= form_for(@page) do |f| %>
<% if @page.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@page.errors.count, "error") %> prohibited this contact from being saved:</h2>

  <ul>
    <% @page.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="form-group">
 <label>Заголовок</label>
 <%= f.text_field :title, class:"form-control" %>
</div><!-- /.form-group -->
<div class="form-group">
 <label>Изображение для публикации</label>
 <div>
  <%= image_tag @page.image.url(:thumb)  %>
</div>
<br>

<%= f.file_field :image, id: "pictureInput" %> 
<div id="target">
 предпросмотр изображения
</div>
<script>
 $(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      img.width = 200
      img.height =100
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>
</div><!-- /.form-group -->
<div class="field">
  <label>Текст</label>
  <%= f.text_area :text, id: "ckeditor" %>
</div>
<br>
<div class="center">
  <%= f.submit "Сохранить", class:"btn btn-primary btn-large" %>
</div>
<% end %>
<script>
  $('#ckeditor').ckeditor({
  });
</script>