<div class="admin-content">
<h1>Редактирование Страницы Партнёры</h1>
	<div class="container-fluid">
		<div class="admin-title">

			<div class="admin-box">
				<fieldset>
					<div class="row">
						<%= render 'form' %>

					</div><!-- /.row -->
				</fieldset>

			</div><!-- /.admin-box -->
		</div><!-- /.container-fluid -->
	</div><!-- /.admin-content -->
