<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :text, id: "ckeditor" %>
  </div>
  <br>
 <div class="center">
    <%= f.submit "Сохранить", class:"btn btn-primary btn-large" %>
  </div>
<% end %>
<script>
  $('#ckeditor').ckeditor({
});
</script>