<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @response.user %>
</p>

<p>
  <strong>Petition:</strong>
  <%= @response.petition %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
