<%# Link to the "Next" page
  - available local variables
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<li class="page-item" >
  <%= link_to_unless current_page.last?, '<span aria-hidden="true">»</span>'.html_safe, url,class: "page-link" , :rel => 'next', :remote => remote %>
</li>
