


<div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">


	            <div class="content">


<div class="container push-top-bottom">
	<div class="box center" >
    <fieldset>
				<legend class="center"><h1>Вход</h1></legend>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
          <label>Почта</label><br>
        <%= f.email_field :email, class: "form-control ",  autofocus: true %>
      </div>

      <div class="form-group">
        <label>Пароль</label><br>
        <%= f.password_field :password,class: "form-control", autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
            <label>Запомнить</label>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Войти" , class:"btn btn-primary btn-large" %>
      </div>
    <% end %>
    </fieldset>
      <%= render "devise/shared/links" %>
	</div><!-- /.box -->


</div><!-- /.container -->
	            </div><!-- /.content -->
	        </div><!-- /.main-inner -->
	    </div><!-- /.main -->
    </div><!-- /.main-wrapper -->
