<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @form.text %>
</p>

<p>
  <strong>Name:</strong>
  <%= @form.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
