/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

a.add_fields {
    padding: 10px;
    background-color: #807e7e;
    color: white;
    border-radius: 3px;
}

a.remove_fields {
    float: right;
    font-size: 12px;
    padding: 4px;
    background-color: #df2f2f;
    color: white;
    border-radius: 3px;
}

textarea#response_response_questions_attributes_0_text {
    display: block;
    width: 100%;
}

.to_whom {
    float: right;
    color: white;
    background-color: #474747;
    padding: 10px;
    border-radius: 3px;
}