/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./css
 *= require_tree ./fonts
 *= require owl.carousel
 *= require pagination
 *= require answer_users
 *= require jquery.dynatable
 *= require_self
 *= require font-awesome


 */

 .header-top .nav-link:hover {
    color: #000;
}
h3 {
    color: white;
}
/*.remove-icon-survey {
    float: right;
    margin-top: -22px;
}*/
form > fieldset {
  border: none;
  border: solid 1px #CCC;
  padding: 10px 15px;
  margin: 15px 0;
  fieldset {
    border: none;
    margin: 0;
    margin: 10px 0;
    padding: 0;
  }
}

textarea {
  height: 40px;
  width: 350px;
  margin-top: 3px;
}