
   <%= form_for(@category) do |f| %>
     <% if @category.errors.any? %>
       <div id="error_explanation">
         <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

         <ul>
         <% @category.errors.full_messages.each do |message| %>
           <li><%= message %></li>
         <% end %>
         </ul>
       </div>
     <% end %>
     <fieldset>
       <legend>Данные</legend>

       <div class="form-group">
         <label>Изображение для Петиции</label><br>
        <%= f.file_field :foto %><%= image_tag @category.foto_file_name %>
       </div><!-- /.form-group -->
       <div class="form-group">
         <label>Название</label>
        <%= f.text_field :name, class:"form-control" %>
       </div><!-- /.form-group -->
     </fieldset>



     <div class="center">
        <%= f.submit "Создать", class:"btn btn-primary btn-large" %>
     </div><!-- /.center -->
   </form>
   <% end %>
