<div class="widget">
            <h2 class="widgettitle">Категории</h2>

            <ul class="menu nav nav-stacked">
              <% Category.all.each do |c| %>
              <li class="nav-item">
                <a href="<%= category_path(c) %>" class="nav-link"><%= c.name %></a>
              </li>
              <% end %>

            </ul><!-- /.nav -->
          </div><!-- /.widget -->