<div class="admin-content">
			<div class="container-fluid">
				<div class="admin-title">
	<h1>Создание Категории</h1>

	<ul class="breadcrumb">
			<%= render_breadcrumbs :separator => '<i class="md-icon">keyboard_arrow_right</i>' %>

	</ul><!-- /.breadcrumb -->
</div><!-- /.admin-title -->

<div class="admin-box">


		<div class="row">

<%= render 'form' %>

</div><!-- /.row -->





</div><!-- /.admin-box -->
  </div><!-- /.container-fluid -->
</div><!-- /.admin-content -->
