
    <div class="main-wrapper">
	    <div class="main">
	        <div class="main-inner">
  <div class="content">
    <div class="container">
    	<div class="page-title categories">
    		<h2>Категории</h2>
    		
    	</div><!-- /.page-title -->


    	<div class="cards-wrapper">
    		<div class="row">
          <% Category.all.each do |c| %>
    				<div class="col-xs-12 col-sm-6 col-lg-3">
    					<div class="card">
    						<div class="card-image small no-line" style="background-image: url('<%= c.foto.url %>');">
    							<a href="<%= category_path(c) %>"></a>


    							<div class="card-image-count">
    								<strong><%= c.petitions.where(status: 2).count%></strong>
    								<span>публикации</span>
    							</div><!-- /.card-image-count -->
    						</div><!-- /.card-image -->

    						<div class="card-content">
    							<h2>
    								<a href="<%= category_path(c) %>"><%= c.name %></a>

    								<a href="<%= category_path(c) %>" class="btn btn-transparent">Далее</a>
    							</h2>
    						</div><!-- /.card-content -->
    					</div><!-- /.card -->
    				</div><!-- /.col-* -->
            <% end %>

    		</div><!-- /.row -->
    	</div><!-- /.cards-wrapper -->
    </div><!-- /.container -->



</div>
</div>
</div>
</div>
