<p> Здравствуйте <%= @resource.email %>!</p>

<p>Для изменения своего пароль перейдите по ссылке:</p>

<p><%= link_to 'Новый пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не делали этот запрос, не обращайте внимание на это письмо. </p>
<p>Ваш пароль не измениться до тех пор пока вы не перейдёте по ссылке</p>
