<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Власть народа</title>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

	<%= csrf_meta_tags %>
</head>
<body>

	<div class="admin-wrapper">
		<div class="admin-sidebar">
			<a href="<%=  %>" class="hidden-md-down">
				<h3> Личный Кабинет </h3>
			</a>

			<% if current_user.role_id == 1 %>
			<%= link_to "Добавить Категорию", new_category_path, class: "btn btn-primary btn-block hidden-md-down" %>
			<% else %>

			<%= link_to "Добавить Публикацию", new_petition_path, class: "btn btn-primary btn-block hidden-md-down" %>
			<% end %>

			<div class="dashboard-nav-primary collapse navbar-toggleable-md">
				<ul class="nav nav-pills nav-stacked">

					<% if current_user.id == 2 %>


					<li class="nav-item">
						<a href="<%= petitions_path %>" class="nav-link "><i class="md-icon">view_list</i> Публикации </a>
					</li>

					<li class="nav-item">
						<a href="<%= admin_category_path %>" class="nav-link "><i class="md-icon">view_list</i> Категории </a>
					</li>


					<li class="nav-item ">
						<a href="<%= admins_path %>" class="nav-link "><i class="md-icon">people</i> Администраторы</a>
						
					</li>
					<li class="nav-item ">
						<a href="<%= moderators_path %>" class="nav-link "><i class="md-icon">people</i> Модераторы </a>
						
					</li>
					<li class="nav-item ">
						<a href="<%= users_path %>" class="nav-link "><i class="md-icon">people</i> Пользователи </a>
						
					</li>
					<li class="nav-item">
						<a href="<%= edit_contact_path(Contact.last) %>" class="nav-link "><i class="md-icon">edit</i> Контакты</a>
					</li>
					<li class="nav-item">
						<a href="<%= edit_about_path(About.last) %>" class="nav-link "><i class="md-icon">edit</i> О проекте </a>
					</li>
					<li class="nav-item">
						<a href="<%= edit_ad_path(Ad.last) %>" class="nav-link "><i class="md-icon">edit</i> Реклама </a>
					</li>
					<li class="nav-item">
						<a href="<%= edit_page_path(Page.find_by(name: "Партнёры")) %>" class="nav-link "><i class="md-icon">edit</i> Партнёры </a>
					</li>

					<% elsif current_user.role_id == 1 or 3   %>

					<li class="nav-item">
						<a href="<%= petitions_path %>" class="nav-link "><i class="md-icon">view_list</i> Публикации </a>
					</li>


					<% elsif current_user.role_id == 2 %>

					<li class="nav-item">
						<a href="<%= petitions_path %>" class="nav-link "><i class="md-icon">view_list</i> Мои Публикации </a>
					</li>
					

					<li class="nav-item">
						<a href="<%= vote_path %>" class="nav-link "><i class="md-icon">people</i> Мои Голоса </a>
					</li>

					<% end %>
					<li class="nav-item">
						<a href="<%= edit_user_path(current_user) %>" class="nav-link "><i class="md-icon">edit</i> Профиль </a>
					</li>
					<li class="nav-item">

						<%= link_to destroy_user_session_path, :method => :delete, class: "nav-link" do %>
						<i class="md-icon">power_settings_new</i> Выход
						<% end %>
					</li>
				</ul>
			</div>

			<hr class="hidden-md-down">

		</div><!-- /.admin-sidebar -->

		<div class="admin-main">
			<div class="admin-header">
				<div class="admin-header-navigation">
					<div class="container-fluid">
						<ul class="nav nav-pills">
							<li class="nav-item"><a href="/" class="nav-link">Главная</a></li>


							<li class="nav-item"><a href="/categories" class="nav-link">Категории</a></li>

							<li class="nav-item"><a href="/contact" class="nav-link">Контакты</a></li>
							<li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
						</ul>
						<% if user_signed_in? %>
						<ul class="nav nav-pills secondary">

							<li class="nav-item user-avatar-wrapper hidden-sm-down">

								<a href="#" class="nav-link circle user-avatar-image" style="background-image: url('<%= current_user.foto.url %>')"></a>
								<span class="user-avatar-status"></span>

								<ul class="header-more-menu">
									<% if current_user.role_id == 1 or 3 %>
									<li><%= link_to "Публикации", petitions_path %></li>
									<%else%>
									<li><%= link_to "Мои Публикации", petitions_path %></li>
									<% end %>
									<li><%= link_to "Редактировать", edit_user_path(current_user) %></li>
									<li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
								</ul>
							</li>
						</ul>
						<% end %>
						<button class="navbar-toggler pull-xs-right hidden-lg-up" type="button" data-toggle="collapse" data-target=".dashboard-nav-primary">
							<i class="md-icon">menu</i>
						</button>
					</div><!-- /.container -->
				</div><!-- /.admin-header-navigation -->
			</div><!-- /admin-header -->

			<%= render :partial => 'home/error', :flash => flash %>
			<%= yield %>
		</div>
	</body>
	</html>
