<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <title>Власть народа</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrapper">
  <div class="header-wrapper">
  	<div class="header">
  		<div class="header-inner">
  			<div class="header-top">
  				<div class="container">
  					<a href="/">
            <%= image_tag "/assets/img/logo_main.png", class: "header-top-logo" %>
  						<!-- <img src="/public/assets/img/logo_main.png" alt="" class="header-top-logo"> -->
  					</a>

  					<div class="nav-primary-wrapper collapse navbar-toggleable-sm" aria-expanded="true">
  						<ul class="nav nav-pills ">
                <li class="nav-item has-submenu"><a href="/" class="nav-link">Главная</a></li>
                <li class="nav-item has-submenu"><a href="/categories" class="nav-link">Категории</a></li>
                <li class="nav-item has-submenu"><a href="/contact" class="nav-link">Контакты</a></li>
                <li class="nav-item has-submenu"><a href="/about" class="nav-link">О проекте</a></li>
  						</ul><!-- /.nav -->
  					</div><!-- /.nav-primary-wrapper -->


  					<ul class="nav nav-pills secondary">

<% if user_signed_in? %>
  						<li class="nav-item user-avatar-wrapper">
  							<a href="<%= petitions_path %>" class="nav-link circle user-avatar-image" style="background-image: url('<%= current_user.foto.url %>')"></a>
  							<span class="user-avatar-status"></span>

  							<ul class="header-more-menu">
                <% if current_user.role_id == 1 or current_user.role_id ==3  %>
                  <li><%= link_to "Публикации", petitions_path %></li>
                <%else%>
                  <li><%= link_to "Мои Публикации", petitions_path %></li>
                  <% end %>
                  <li><%= link_to "Редактировать", edit_user_path(current_user) %></li>
  								<li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                  <li class="nav-item"><%= link_to "Регистрация", new_user_registration_path,class: "nav-link" %></li> <li class="nav-item"> <%= link_to "Вход", new_user_session_path,class: "nav-link" %></li>


  							</ul>
  						</li>
              <% end %>
  					</ul>


  					<button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target=".nav-primary-wrapper">
                          <i class="md-icon">menu</i>
                      </button>

					  <button class="navbar-toggler pull-xs-right hidden-md-up" type="" data-toggle="" data-target=".nav-primary-wrapper">
                          <%= link_to new_user_session_path do %><i class="md-icon">vpn_key</i> <% end %>
                      </button>

  				</div><!-- /.container -->
  			</div><!-- /.header-top -->


  				<div class="header-bottom">
  					<div class="container">
  						<div class="header-bottom-label hidden-md-down">
  							<a href="/categories">Категории</a>
  						</div><!-- /.header-bottom-label -->
              <% Category.last(7).each do |c| %>
  						<ul class="nav nav-pills">


  							<li class="nav-item"><%= link_to c.name, c , class: "nav-link"  %></li>
  						</ul><!-- /.nav -->
              <% end %>


  					</div><!-- /.container -->
  				</div><!-- /.header-bottom -->

  		</div><!-- /.header-inner -->
  	</div><!-- /.header -->
  </div>
<%= render :partial => 'home/error', :flash => flash %>
<%= yield %>

<div class="footer-wrapper">
 <div class="footer">
   <div class="footer-widgets">
     <div class="container">
       <div class="row">
         <div class="col-xs-12 col-sm-12 col-md-3">
           <div class="widget right-border">
             <h2 class="widgettitle"><%= image_tag "/assets/img/logo_main.png" %></h2>
			 <p>Проект «Власть Народа» - это платформа для содействия в реализации гражданами своих прав.<br>Петиции, Инициативы, Содействие, Опросы.</p>

           </div><!-- /.widget -->
         </div><!-- /.col-* -->

         <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
           <div class="widget right-border">
             <h2 class="widgettitle">Мы в интернете</h2>

             <ul class="nav nav-stacked">
               <li class="nav-item"><a href="#" class="nav-link">Facebook</a></li>
               <li class="nav-item"><a href="#" class="nav-link">Вконтакте</a></li>
               <li class="nav-item"><a href="#" class="nav-link">Одноклассники</a></li>
               <li class="nav-item"><a href="#" class="nav-link">Twitter</a></li>
             </ul>
           </div><!-- /.widget -->
         </div>

         <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
           <div class="widget right-border">
             <h2 class="widgettitle">Разделы</h2>

             <ul class="nav nav-stacked">
               <li class="nav-item"><a href="/" class="nav-link">Главная</a></li>
               <li class="nav-item"><a href="/categories" class="nav-link">Категории</a></li>
               <li class="nav-item"><a href="/contact" class="nav-link">Контакты</a></li>
               <li class="nav-item"><a href="/about" class="nav-link">О проекте</a></li>
             </ul>
           </div><!-- /.widget -->
         </div><!-- /.col-* -->

         <div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1">
           <div class="widget">
             <h2 class="widgettitle">Партнёры</h2>

             <ul class="nav nav-stacked">
               <li class="nav-item"><a href="http://nabludatel.org/" class="nav-link">Гражданин Наблюдатель</a></li>
               <li class="nav-item"><a href="http://www.golosinfo.org/" class="nav-link">ГОЛОС</a></li>
               <li class="nav-item"><a href="http://sonarus.org/" class="nav-link">СОНАР</a></li>
               <li class="nav-item"><a href="http://www.dissernet.org/" class="nav-link">ДИССЕРНЕТ</a></li>
             </ul>
           </div><!-- /.widget -->
         </div><!-- /.col-* -->
       </div><!-- /.row -->
     </div><!-- /.container -->
   </div><!-- /.footer-widgets -->

   <!--<div class="footer-top">
     <div class="container">
       <div class="footer-top-left">
         <strong class="hidden-xs-down">Supported credit cards:</strong>
         <i class="fa fa-cc-stripe"></i>
         <i class="fa fa-cc-visa"></i>
         <i class="fa fa-cc-discover"></i>
         <i class="fa fa-cc-mastercard"></i>
       </div><!-- /.footer-top-left -->

      <!-- <div class="footer-top-right">
         <a class="footer-top-action">
           <i class="md-icon">vertical_align_top</i>
         </a><!-- /.footer-top-action -->

         <!--<ul class="nav nav-pills">
           <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
           <li class="nav-item"><a class="nav-link" href="#">Pricing</a></li>
           <li class="nav-item"><a class="nav-link" href="#">FAQ</a></li>
           <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
         </ul>
       </div><!-- /.footer-top-right -->
    <!-- </div><!-- /.container -->
   <!--</div><!-- /.footer-top -->

   <div class="footer-bottom">
     <div class="container">
       <div class="footer-bottom-left">
      Developed by &nbsp;<a href="http://digilab.pro"><img src="<%= image_path('img/digilab.png') %>" class="digilab-logo-footer"></a>
       </div><!-- /.footer-bottom-left -->

       <div class="footer-bottom-right">
         Copyright &copy; 2016 - Все права защищены
       </div><!-- /.footer-bottom-right -->
     </div><!-- /.container -->
   </div><!-- /.footer-bottom -->
 </div><!-- /.footer -->
</div><!-- /.footer-wrapper -->
</div>
</body>
</html>
